* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding-top: 3rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

 #gameBoard {
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
 }

 .cell {
    border: 1px solid blue
 }

